*{
    margin:0;
    max-width: 100%;
}
.reservation{
    text-align: center;
    display: block;
    font-size: 20px;
    text-decoration: none;
    color:rgb(255, 187, 0); ;
    background-color: rgb(61, 61, 60);
    padding: 10px;
}
.reservation:hover{
    color: red;
}
.back{
    overflow: hidden;
    background-image: url(suu.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
}
.back h1{
    text-decoration:6px underline rgba(234, 192, 77, 0.712);
    letter-spacing: 4px;
    position: absolute;
    top :30%;
    left:10%;
    -webkit-text-stroke: 2px white ;
    color: white;
    font-size: 120px;
    font-weight: bold;
}
.back h3{
    position: absolute;
    top:80%;
    left:6%;
    -webkit-text-stroke: 0.4px black;
    color: rgb(255, 187, 0) ;
    text-align: left;
    font-size: 25px;
}
.overflow{
    display: grid;
    position: relative;
    float: right;
    top: 22%;
    right: 10%;
    row-gap: 20px;
}
.overflow a{
    text-decoration: none;
    color: rgb(255, 187, 0);
    -webkit-text-stroke: 2px  rgb(255, 187, 0);
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: bold;
    transition: 0.7s;
}
.overflow a:hover{
    -webkit-text-stroke: 0;
    color:red;
    transition:ease-in-out;
}
@media screen and (max-width: 1000px) {
    .overflow{
        display:none;
    }
}
span {
    
    border: 3px solid white;
    padding: 15px;
    border-radius: 70px;
    text-align: center;
    color: rgb(255, 187, 0) ;
    font-size: 50px;
    position: relative;
    top:63%;
    right:5%;
    display: flex;
    float:right;
}
@media screen and (min-width: 1000px) {
    span{
        display:none;
    }
}
.overlay{
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition:0.5s ;
}
.overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a{
    padding: 10px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    
    color:rgb(255, 187, 0);
  }
.overlay .closebtn {
    border:   2px solid white;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    top: 10%;
    right:10%;
    display: flex;
    float:right;
    font-size: 60px;
}
.
@media screen and (max-height: 450px) {
    .overlay a {font-size: 30px}
    .overlay .closebtn {
    font-size: 40px;
    top: 5px;
    right: 35px;
    }
  }
.infinite{
    display: flex;
}
.infi{
    height: 10vh;
    width :100%;
    background-color:rgb(242, 223, 170);
    white-space: nowrap;
    overflow: hidden;
    padding-top: 43px ;
    /* justify-content: flex-start; */
}
.infi h2{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    padding:0 6rem;
    word-spacing: 10px;
    letter-spacing: 1px;
    white-space: nowrap;
    display: inline-block;
    font-size: 25px;
    animation:  anime 3000ms linear infinite;
    color:red;
    letter-spacing: 3px;

    /* margin-right: 70px; */
}
@keyframes anime{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-100%);
    }
}
.txt{
    padding: 60px;
    justify-content: center;
    background-color:rgb(61, 61, 60);
    height: max-content;
    overflow: hidden;
}
 .img{
    float :left;
    width: 70vh;
}
.t{
    color: white;
    width: 70vh;
    height: max-content;
    display: flex;
    font-size: 30px;
    position: relative;
    top: 30vh;
    left: 9%;
}
@media only screen and (max-width: 1150px){
.t{
    color: rgb(253, 253, 253);
    top:10px;
    left:0;
}
}
.love{
    width: 100px;
    height: 100px;
    color:rgb(242, 223, 170);
    font-size: 80px;
    display: flex;
    position:relative;
    top:100px;
    left:-50px; 
}
@media only screen and (max-width: 1150px){
    .love{
        position: relative;
        top:20px;
        left: 0px;
        width:1000px;
        font-size: 70px ;
    }
}
.bd{
    clear: both;
    /* overflow: hidden; */
    height: max-content;
}
 h1{
    font-size: 70px;
    display: flex;
    justify-content: center;
    position: relative;
    top:50px;
    color: rgb(4, 52, 4);
    margin-bottom: 40px;
}
.content h3{
    display: grid;
    padding:30px;
    position: relative;
    top: 40px; 
    left: 1%;
    row-gap: 70px;
}

.content h3{
    margin-bottom: 40px;
    font-size: 35px;
}
.content ul{
    
    width: 70%;
    color: rgb(11, 84, 60);
    display: grid;
    row-gap: 30px;
}
.content ul p{
    /* left: 10%; */
    width: 60%;
    font-size: 20px;
}
.content li,hr{
    text-decoration: none;
    position: relative;
    left: 10%;
    display: grid;
    row-gap: 20px; 
}

.drinks{
    display: grid;
    grid-gap: 50px;
}
.drinks h3{
    position: relative;
    font-size: 35px;
    color: black;
}
.drinks li{
    font-size: 20px;
    font-weight: bold;
}
/* .story{
    clear: both;
    background-color: rgb(28, 30, 30);
    height: max-content;
}
.story .text2{
    float: right;
} */
.txt2{
    justify-content: center;
    background-color:rgb(61, 61, 60);
    height: max-content;
    overflow: hidden;
}
 .img{
    float :left;
    width: 70vh;
    height: 80vh;
}
@media only screen and (max-width: 1000px){
    .img{
        width:100%;
    }
}
.t2{
    color: white;
    width: 70vh;
    height: max-content;
    display: flex;
    font-size: 30px;
    position: relative;
    top: 30vh;
    left: 9%;
}
@media only screen and (max-width: 1000px){
.t2{
    padding: 60px;
    color: rgb(253, 253, 253);
    top:10px;
    left:0;
}
}
.story{
    width: 500px;
    height: 50px;
    color:rgb(242, 223, 170);
    font-size: 70px;
    display: flex;
    position:relative;
    top:100px;
    left:70px; 
}
@media only screen and (max-width: 1000px){
    .story{
        padding-left: 60px;
        position: relative;
        top:20px;
        left: 0px;
        width:1000px;
        font-size: 70px ;
    }
}
.reviews{
    width: 100%;
    height: 70vh;
    overflow: hidden;
}
.slideshow{
    display: flex;
    float:right;
    border: 2px solid black;
    width:60vh;
    overflow: hidden;
    /* height: 15vh; */
    position: relative;
    top :30%;
    right:20%;
}
/* .nevigation{
    position: relative;
    transform: translateX(-50%);
    display: flex;
    top: 90%;
    right: 90%;

} */